@model List<Actor>

@{
    ViewData["Title"] = "Dashboard";
    

    var actors = Model;
}

<div>

    <section class="text-gray-100 body-font">
        <div class="container px-5 py-24 mx-auto">

            <div class="grid grid-cols-4 gap-4">

                @foreach (var actor in actors)
                {
                    <div class="border-2 border-gray-800 rounded-lg overflow-hidden">


                        <div class="lg:h-34 md:h-26 w-full p-1">
                                    @if (actor.Image != null)
                                    {
                                        <img class="m-auto h-64  object-center rounded-lg" src='@actor.Image.Path' alt="blog">
                                    }
                                    else
                                    {
                                        <img class="lg:h-34 md:h-26 w-full object-cover object-center" src="https://dummyimage.com/720x400" alt="no image">
                                    }

                                </div>

                                <div class="p-6">
                                    <h1 class="title-font text-lg font-medium text-white mb-3">@actor.Name</h1>
                                    <h1 class="title-font text-lg font-medium text-white mb-3">@actor.LastName</h1>
                                    @if (actor.Movies != null)
                                    {
                                        @foreach (var movie in actor.Movies)
                                        {
                                            <h2 class="tracking-widest text-xs title-font font-medium text-gray-500 mb-1">@movie.Name</h2>
                                        }
                                    }



                                    <p class="leading-relaxed mb-3">@actor.Country</p>
                                    <div class="flex items-center flex-wrap ">
                                        <a asp-controller="Actor" asp-action="ShowActor" asp-route-id="@actor.Id" class="text-yellow-400 inline-flex items-center md:mb-2 lg:mb-0">
                                            Read More
                                            <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                                <path d="M5 12h14"></path>
                                                <path d="M12 5l7 7-7 7"></path>
                                            </svg>
                                        </a>
                                       
                                    </div>
                                </div>
                    </div>
                        

                    
                }


            </div>
        </div>
    </section>
</div>


